<p style="color: green"><%= notice %></p>

<%= render @truetask %>

<div>
  <%= link_to "Edit this Task", edit_truetask_path(@truetask) %> |
  <%= link_to "Back to Tasks", truetasks_path %>

  <%= button_to "Destroy this Task", @truetask, method: :delete %>
</div>
